*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../image/bg-one.svg),
                    url(../image/bg-two.svg),
                    url(../image/bg-one.svg);
  background-position: 0px 150px,
                        0px 1000px,
                        1260px 1515px;
  background-repeat: no-repeat;
  background-size: 100px, 1000px, 150px;
  overflow-x: hidden;
}

p{
color: #7d7987;
font-family: 'm-light';
}

h2{
  font-size: 36px;
  line-height: 56px;
  font-family: 'm-bold';
}

h3{
  font-size: 24px;
  line-height: 56px;
  font-family: 'm-bold';
}
.container{
  width: 1240px;
  margin: 0 auto;
  padding-top: 50px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  height: 45px;
  padding-top: 20px;
  width: 550px;
}

.nav{
  list-style: none;
  display: flex;
  width: 545px;
}

.item a{
  width: 109px;
  padding: 0 12px;
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-family: 'm-regular';
}

.section{
  width: 100%;
  display: flex;
}

.section-info{
  width: 445px;
  height: 338px;
  margin: 186px auto;
}

.section-info h1{
  font-size: 48px;
  line-height: 56px;
  margin: 25px 0;
  width: 426px;
  font-family: 'm-bold';
}

.section-info p{
  font-size: 21px;
  line-height: 32px;
  width: 445px;
  margin-bottom: 50px;
}

.section-info a{
  width: 200px;
  height: 56px;
  padding: 13px 41px;
  color: white;
  font-size: 18px;
  font-family: 'm-bold';
  text-decoration: none;
  background-color: #458ff6;
  border-radius: 55px;
}

.section-img{
  margin: 84px 109px;
}
.section-img img{
  width: 693px;
}

.services{
  width: 100%;
}

.services-info{
  width: 952px;
  height: 177px;
  margin: 80px auto;
  margin-top: 50px;
  text-align: center;
}

.services-info .line{
  margin: 26px auto;
}

.line{
  width: 56px;
  height: 2px;
  background-color: #000;
  margin: 26px 0;
}

.services-info p{
  line-height: 32px;
  margin: 33px 0;
}

.services-content{
  width: 100%;
  height: 845px;
  display: flex;
  flex-wrap: wrap;
}

.content{
  width: 380px;
  height: 384px;
  padding: 50px;
  margin: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgb(219, 219, 219); 
}

.content-img img{
  margin-bottom: 20px;
}

.content-img{
  height: 100px;
}

.content p{
  width: 260px;
  font-size: 16px;
  line-height: 28px;
}

.services-link{
  width: 100%;
  height: 80px;
  margin-top: 70px;
  padding: 0px 510px;
}

.services-link a{
  width: 300px;
  height: 60px;
  padding: 13px 41px;
  color: #458ff6;
  font-size: 18px;
  font-family: 'm-bold';
  text-decoration: none;
  background-color: #f4f4f4;
  border: 1px solid  #458ff6;
  border-radius: 55px;
}

.providers{
  width: 100%;
  margin: 100px 0;
}

.providers-img img{
  width: 650px;
  height: 477px;
}

.providers-info{
  width: 486px;
  height: 388px;
  margin-left: 137px;
  padding-top: 57px;
}

.providers-info p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 37px;
}

.providers-info a{
  width: 200px;
  height: 60px;
  padding: 13px 41px;
  color: #458ff6;
  font-size: 18px;
  font-family: 'm-bold';
  text-decoration: none;
  background-color: #f4f4f4;
  border: 1px solid  #458ff6;
  border-radius: 55px;
}

.mobile_app{
  width: 100%;
  margin: 100px 0;
  flex-direction: row-reverse;
}

.mobile_app-img img{
  width: 650px;
  height: 477px;
}

.mobile_app-info {
  width: 486px;
  height: 388px;
  margin-left: 137px;
  padding-top: 57px;
}

.mobile_app-info p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 37px;
}

.mobile_app-info a{
  width: 200px;
  height: 60px;
  padding: 13px 41px;
  color: #458ff6;
  font-size: 18px;
  font-family: 'm-bold';
  text-decoration: none;
  background-color: #f4f4f4;
  border: 1px solid  #458ff6;
  border-radius: 55px;
}